@use '../util' as *;

.toggle {
    border: none;
    display: grid;
    grid-template-columns: 1fr rem(60) 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: rem(4.8) rem(8);
    margin: 0;

    label {
        font-size: rem(14);
        align-self: center;

        &[for='dark'] {
            grid-column: 1 / 2;
            justify-self: end;
        }

        &[for='system'] {
            grid-column: 1 / 4;
            grid-row: 2 / 3;
            justify-self: center;
            align-self: start;

        }

        &[for='light'] {
            grid-column: 3 / 4;
        }

    }


    &__wrapper {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        height: rem(24);
        position: relative;
    }

    input[type='radio'] {
        opacity: 0;
        margin: 0 rem(-2) 0 0;
        height: rem(24);
        width: rem(18);

        &:focus~.toggle__button {
            border: rem(2) solid white;
        }
    }

    &__background {
        height: 100%;
        display: block;
        border-radius: rem(12);
        overflow: hidden;
        position: absolute;
        width: 100%;
        top: 0;
        background: linear-gradient(225deg, var(--toggle-bg-end) 0%, var(--toggle-bg-start) 98.02%);
        pointer-events: none;
    }


    &__button {
        position: absolute;
        left: rem(3);
        top: rem(3);

        right: 100%;
        width: rem(16);
        height: rem(16);
        border-radius: 50%;
        background-color: var(--dark-bg);
        transition: all 150ms ease-in-out;

    }

    #light:checked~.toggle__button {
        right: 3px;
        left: calc(100% - 21px);
    }

    #system:checked~.toggle__button {
        left: 50%;
        right: auto;
        transform: translateX(-50%);
    }


}