@use '../util' as *;

.toggle {
    border: none;
    display: grid;
    grid-template-columns: 1fr rem(48);
    grid-template-rows: repeat(2, 1fr);
    gap: rem(4.8) rem(8);
    margin: 0;

    label {
        font-size: rem(14);
        align-self: center;
        font-weight: 700;
        color: var(--toggle);

        &[for='dark'] {
            line-height: rem(24);
            margin-right: rem(13);
        }



    }


    &__wrapper {
        grid-column: 2 / 2;
        grid-row: 1 / 2;
        height: rem(24);
        position: relative;
    }

    input[type='radio'] {
        opacity: 0;
        margin: 0 rem(-4) 0 rem(2);
        height: rem(24);
        width: rem(20);
        font-weight: 700;

        &:focus~.toggle__button {
            border: rem(2) solid white;
        }
    }

    &__background {
        height: 100%;
        display: block;
        border-radius: rem(12);
        overflow: hidden;
        position: absolute;
        width: 100%;
        top: 0;
        background: var(--toggle-bg);
        pointer-events: none;
    }


    &__button {
        position: absolute;
        left: rem(3);
        top: rem(3);

        right: 100%;
        width: rem(18);
        height: rem(18);
        border-radius: 50%;
        background-color: var(--toggle-button);
        transition: all 150ms ease-in-out;

    }

    #light:checked~.toggle__button {
        right: 3px;
        left: calc(100% - 21px);
    }

    #system:checked~.toggle__button {
        left: 50%;
        right: auto;
        transform: translateX(-50%);
    }


}